[req]
default_bits=2048
prompt=no
default_md=sha256
distinguished_name=dn

[dn]
C=KE
ST=RandomState
L=RandomCity
O=RandomOrganization
OU=RandomOrganizationUnit
emailAddress=localhost@example.com
CN=localhost.bbc.co.uk